<nav class="navigation">
  <span class="text-logo">AppStarter</span>
  <div class="menu">
    <ul>
      <li>Features</li>
      <li>Video Tour</li>
      <li>Previews</li>
      <li>Prising</li>
    </ul>
    <button>GET IT FREE</button>
    <img src="../../assets/images/Menu-Icon.png" alt="menu-icon">
  </div>
</nav>
<div class="header-content">
  <div class="intro">
    <img class="img-logo" src="../../assets/images/App-Icon1.png" alt="app-icon">
    <h1 class="slogan">
      <span>AppStarter.</span> Best landing page for web and mobile apps
    </h1>
    <div class="actions">
      <button>Download New</button>
      <button>Watch video</button>
    </div>
  </div>
  <img class="tablet" src="../../assets/images/Tablet1.png" alt="tablet1">
</div>

