<nav class="row">
  <span class="text-logo col-sm-12 col-md-12 col-xl-1 col-lg-1">AppStarter</span>
  <div class="menu col-sm-12 col-md-12 col-xl-11 col-lg-11">
    <ul>
      <li>Features</li>
      <li>Video Tour</li>
      <li>Previews</li>
      <li>Prising</li>
    </ul>
    <button>GET IT FREE</button>
    <img src="../../assets/images/Menu-Icon.png" alt="menu-icon">
  </div>
</nav>
<div class="header-content row">
  <div class="intro col-sm-12 col-md-12 col-xl-6 col-lg-6">
    <img class="img-logo" src="../../assets/images/App-Icon1.png" alt="app-icon">
    <h1 class="slogan">
      <span>AppStarter.</span> Best landing page for web and mobile apps
    </h1>
    <div class="actions">
      <button>Download New</button>
      <button>Watch video</button>
    </div>
  </div>
  <div class="tablet col-sm-12 col-md-12 col-xl-6 col-lg-6">
    <img src="../../assets/images/Tablet1.png" alt="tablet1">
  </div>
</div>
