:host {
  display: block;
  background: rgb(248, 249, 250) url("../../assets/images/Background.png") no-repeat;
  background-size: 100% 90%;
  padding: 25px 9% 0 9%;
  color: white;
}

div.row {
  width: 100%;
}

.text-logo {
  font-size: 24px;
  font-family: nunito-extra-bold, serif;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  font-family: nunito-regular, serif;
  margin: 0;
  padding: 0;
}

.menu li {
  font-family: nunitosans-regular, serif;
  margin: 0 15px;
  font-size: 15px;
  cursor: pointer;
}

.menu img {
  width: 16px;
  height: 12px;
  cursor: pointer;
}

.menu button {
  font-family: nunitosans-bold, serif;
  padding: 10px 13px;
  margin: 0 30px 0 15px;
  border: none;
  cursor: pointer;
  width: 132px;
  min-height: 40px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 6px 12px 0 rgba(40, 43, 49, 0.08);
}

.intro {
  display: inline-flex;
  flex-direction: column;
  margin-top: 100px;
}

.img-logo {
  align-self: flex-start;
  margin-left: -10px;
}

.slogan {
  max-width: 555px;
  margin-top: 20px;
  font-size: 35px;
  font-weight: 300;
  font-family: nunitosans-light, serif;
  line-height: 1.43;
  letter-spacing: 1px;
}

.slogan span {
  font-family: nunitosans-extra-bold, serif;
}

.actions {
  display: flex;
  flex-direction: row;
  font-family: nunitosans-bold, serif;
  padding: 20px 0;
}

.actions button {
  font-family: inherit;
  font-size: 18px;
  border: none;
  padding: 13px;
  cursor: pointer;
  width: 144px;
  min-height: 50px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 6px 12px 0 rgba(40, 43, 49, 0.08);
}

.actions button:first-child {
  width: 167px;
  min-height: 50px;
  border-radius: 6px;
  background-image: linear-gradient(107deg, #ff8e64, #ffe641);
  box-shadow: 0 6px 12px 0 rgba(40, 43, 49, 0.08);
  color: white;
  margin-right: 20px;
}

.header-content {
  display: flex;
  position: relative;
  top: 50px;
  justify-content: space-between;
}

.tablet {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.tablet img {
  width: 100%;
  height: 100%;
  max-width: 460px;
}

@media (max-width: 700px) {
  .menu {
    justify-content: flex-start;
  }
}
