:host {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 135px;
}

.text-logo {
  font-family: nunito-extra-bold, serif;
  font-weight: normal;
  font-size: 24px;
  margin-top: 0;
}

.heart::before {
  content: url('../../assets/images/Footer-Heart-Icon.png');
}

.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: darkgray;
}

.author p {
  font-family: nunitosans-regular, serif;
  margin-top: 7px;
}

.creator {
  font-family: nunitosans-bold, serif;
  color: black;
}

.socials {
  display: flex;
  align-items: center;
}

.twitter {
  border: 1px solid darkgrey;
  padding: 14px 10px 10px;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}

.facebook {
  border-top: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
  padding: 11px 14px 10px;
  cursor: pointer;
}

.instagram {
  border: 1px solid darkgrey;
  border-radius: 0 5px 5px 0;
  padding: 11px 10px 10px;
  cursor: pointer;
}
