<h2 class="title"><span>How</span> does it work</h2>
<div class="features-container row">
  <div class="feature box-shadow-standard col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <img src="../../assets/images/Feature-Reload-Icon.png" alt="reload-icon">
    <h3 class="feature-title"><span>Sync</span> across all devices</h3>
    <p class="feature-description">This sounded nonsense to Alice, so she said nothing, but set off at once toward the
      Red Queen. To her
      surprise.</p>
    <a href="">Watch video</a>
  </div>
  <div class="feature box-shadow-standard  col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <img src="../../assets/images/Feature-Message-Box.png" alt="message-box">
    <h3 class="feature-title"><span>All emails</span> in one place</h3>
    <p class="feature-description">This sounded nonsense to Alice, so she said nothing, but set off at once toward the
      Red Queen. To her
      surprise.</p>
    <a href="">Watch video</a>
  </div>
  <div class="feature box-shadow-standard col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <img src="../../assets/images/Feature-Notification.png" alt="notification">
    <h3 class="feature-title"><span>Notifications</span> about sales</h3>
    <p class="feature-description">This sounded nonsense to Alice, so she said nothing, but set off at once toward the
      Red Queen. To her
      surprise.</p>
    <a href="">Watch video</a>
  </div>
</div>
