<div class="container row">
  <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2">
    <img src="../../assets/images/Press-Wired.png" alt="">
  </div>
  <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2">
    <img src="../../assets/images/Press-Lifehacker.png" alt="">
  </div>
  <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2">
    <img src="../../assets/images/Press-Mashable.png" alt="">
  </div>
  <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2">
    <img src="../../assets/images/Press-Theverge.png" alt="">
  </div>
  <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2">
    <img src="../../assets/images/Press-Gizmodo.png" alt="">
  </div>
  <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2">
    <img src="../../assets/images/Press-Macworld.png" alt="">
  </div>
</div>
