:host {
  display: flex;
  justify-content: center;
  padding: 60px 200px;
  align-items: center;
  background-color: white;
  border-top: 1px solid rgb(231, 232, 234);
  border-bottom: 1px solid rgb(231, 232, 234);
}

div {
  display: flex;
  justify-content: center;
}

img {
  margin: 10px 0;
}

@media (max-width: 700px) {
  :host {
    padding: 9%;
  }
}
