:host{
  margin-bottom: 2px;
  max-width: 470px;
  min-width: 270px;
}

.tab {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px 25px 0;
}

.tab-text-content {
  margin-left: 20px;
}

.tab-title {
  margin: 4px 0 10px 0;
  font-family: nunito-light, serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: normal;
}

.tab-title span {
  font-family: nunito-extra-bold, serif;
}

.tab-description {
  font-family: nunito-regular, serif;
  max-width: 366px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.79;
}

:host:not(.isSelected):hover{
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.09);
}

