:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 7%;
  background: url('../../assets/images/Contact-Background.png') no-repeat;
  background-size: 100% 100%;
  color: white;
}

.title {
  font-family: nunito-light, serif;
  font-weight: normal;
  font-size: 35px;
  letter-spacing: 1px;

}

.title span {
  font-family: nunito-extra-bold, serif;
}

.description {
  text-align: center;
  margin: 0 auto;
  line-height: 30px;
  width: 570px;
  height: 60px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.8);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  padding: 50px 70px 40px;
  width: 770px;
  height: 500px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 12px 24px 0 rgba(40, 43, 49, 0.16);
}

.form div {
  display: flex;
  justify-content: space-between;
  width: 630px;
}

select, input {
  width: 305px;
  height: 50px;
  font-size: 17px;
  margin-bottom: 10px;
}

textarea::placeholder,
input::placeholder {
  color: #b9bdc3;
}

textarea {
  height: 160px;
}

.ng-untouched[required] {
  border-left: 1px solid lightgrey;
}

.ng-invalid:not(form) {
  border-left: 3px solid #a94442; /* red */
}

.send-btn {
  font-family: nunito-bold, serif;
  margin-top: 10px;
  border: none;
  color: white;
  cursor: pointer;
  width: 164px;
  height: 50px;
  border-radius: 6px;
  background-image: linear-gradient(107deg, #ff8e64, #ffe641);
  box-shadow: 0 6px 12px 0 rgba(40, 43, 49, 0.08);
}
