:host {
  display: flex;
  justify-content: center;
  padding: 73px 9% 80px 9%;
  background: url('../../assets/images/Header-Background.png') no-repeat;
  background-size: 100% 600px;
  color: white;
}

.title {
  font-family: nunito-light, serif;
  font-weight: normal;
  margin-bottom: 17px;
}

.title span {
  font-family: nunito-extra-bold, serif;
}

.description {
  font-family: nunito-regular, serif;
  line-height: 30px;
}

.actions {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.actions button {
  border: none;
  padding: 15px 40px;
  font-family: nunito-bold, serif;
  cursor: pointer;
  min-height: 50px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 6px 12px 0 rgba(40, 43, 49, 0.08);
}

.actions button:first-child {
  max-width: 170px;
  border-radius: 6px;
  background-image: linear-gradient(106deg, #ff8e64, #ffe641);
  box-shadow: 0 6px 12px 0 rgba(40, 43, 49, 0.08);
  margin-right: 20px;
  color: white;
}

@media (max-width: 900px) {
  .title {
    text-align: center;
  }
}
