:host {
  display: flex;
  justify-content: space-between;
  background-color: rgb(248, 249, 250);
  align-items: center;
  padding: 121px 135px;
}

.tabs-container {
  display: flex;
  flex-direction: column;
  flex: 1.4;
}

.isSelected {
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.tablet {
  flex: 1;
}

.tablet-img-placeholder {
  background: url('../../assets/images/HighLights-Tablet1-empty.png') no-repeat;
  background-size: 470px 708px;
  min-width: 470px;
  min-height: 708px;
}

.tablet-img-placeholder img {
  left: 18px;
  top: 65px;
  position: relative;
  max-width: 435px;
  max-height: 578px;
  min-width: 435px;
  min-height: 578px;
  border-radius: 5px;
}
