<div class="feature">
  <div class="image-wrapper">
    <img src="../../assets/images/Highlights-2-Tablet2.png" alt="tablet-2">
  </div>
  <div class="text-wrapper">
    <div class="text-content">
      <h2 class="text-content-title"><span>Perfect</span> landing page for your app</h2>
      <p class="text-content-description">This sounded nonsense to Alice, so she said
        nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found
        herself walking.</p>
    </div>
  </div>
</div>
<div class="feature">
  <div class="text-wrapper">
    <div class="text-content">
      <h2 class="text-content-title"><span>Style guide</span> and sample pages included</h2>
      <p class="text-content-description">This sounded nonsense to Alice, so she said
        nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found
        herself walking.</p>
    </div>
  </div>
  <div class="image-wrapper">
    <img src="../../assets/images/Highlights-2-Tablet3.png" alt="tablet-3">
  </div>
</div>

